Inception/HelloHO/businessCatalog/GreetingTypes/GreetingObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="11.1.1.7.0.0.8" build="0.8" fullName="GreetingTypes.GreetingObject" modifiers="268435456"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/GreetingTypes/GreetingObject" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/GreetingTypes/GreetingObject"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="GreetingObjectType">
        <xs:sequence>
            <xs:element name="date" nillable="true" type="xs:dateTime"/>
            <xs:element name="greeting" nillable="true" type="xs:string"/>
            <xs:element name="message" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="GreetingObject" type="GreetingObjectType"/>
</xs:schema>
